@import "shadcn/tailwind.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --primary: 262 83% 58%;
    /* 🔥 purple */
    --primary-foreground: 0 0% 100%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 262 83% 58%;

    --radius: 0.75rem;
  }

  /* === FULLY HIDDEN SIDEBAR SCROLLBAR === */

  .sidebar-scroll {
    -ms-overflow-style: none;
    /* IE / old Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .sidebar-scroll::-webkit-scrollbar {
    display: none;
    /* Chrome / Safari */
  }

  /* =========================================================
   ENTERPRISE INVISIBLE SCROLLBAR
========================================================= */

  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.14) transparent;
  }

  /* Chrome / Edge / Safari */
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
  }

  /* REMOVE TRACK */
  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }

  /* FLOATING THUMB */
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.14);
    border-radius: 999px;
    border: none;
  }

  /* HOVER */
  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.24);
  }


  .dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);

    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);

    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);

    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);

    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);

    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);

    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);

    --destructive: oklch(0.704 0.191 22.216);

    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);

    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    @apply font-sans;
  }
}